body {
  padding: 80px 40px;
  position: relative;
  width: 1400px;
  height: 940px;
  background: #FFFFFF;
}

.header {
  /* Section Header */


  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: static;
  width: 1360px;
  height: 184px;
  left: 40px;
  top: 80px;


  /* Inside Auto Layout */

  margin: 80px 0px;
}

.logo {
  /* Logo */


  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: relative;
  width: 667px;
  height: 88px;
  left: 35.5px;
  top: 0px;


  /* Inside Auto Layout */

  margin: 12px 0px;
}

h1 {
  position: static;
  width: 161px;
  height: 88px;
  left: 0px;
  top: 0px;

  /* Display Small / ExtraBold - 1200+ */

  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 86px;
  line-height: 88px;
  /* identical to box height, or 102% */

  text-align: center;
  letter-spacing: 0.01em;

  /* Text / Black */

  color: #121212;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 16px;
}

.underline-text {
  /* Underlined */


  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;

  position: static;
  width: 400px;
  height: 88px;
  left: 177px;
  top: 0px;

  /* Effect / Underline */

  background: linear-gradient(180deg, rgba(237, 96, 65, 0) 85.76%, #ED6041 85.82%);

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 16px;
}

.underline-text h1 {
  /* Programs */


  position: static;
  width: 398px;
  height: 88px;
  left: 16px;
  top: 0px;

  /* Display Small / ExtraBold - 1200+ */

  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 86px;
  line-height: 88px;
  /* identical to box height, or 102% */

  text-align: center;
  letter-spacing: 0.01em;

  /* Text / Black */

  color: #121212;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 32px;
}

.hero {
  position: static;
  width: 652px;
  height: 84px;
  left: 354px;
  top: 100px;

  /* Paragraph Base / Regular */

  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* or 156% */

  text-align: center;

  order: 1;
  margin: 12px 0px;
}

.hero p {
  color: #414141;
}

.content {
  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 50px;

  width: 1304.01px;
  height: 456px;

  /* Inside Auto Layout */

  order: 1;
  margin: 80px 0px;
}

.program-list {
  /* Row */


  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 1304.01px;
  height: 208px;
  left: 0px;
  top: 0px;


  /* Inside Auto Layout */

  margin: 40px 0px;
}

.program-list-item {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 644.01px;
  height: 208px;
  left: 0px;
  top: 0px;


  /* Inside Auto Layout */


  margin: 0px 16px;
}

.item-main {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* Neutral / White */

  background: #FFFFFF;

  /* Inside Auto Layout */

  margin: 0px 0px;
}

img {
  /* Image */


  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 208px;
  height: 208px;

  /* Inside Auto Layout */

  align-self: stretch;
  margin: 0px 0px;
}

.item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: relative;
  width: 436px;
  height: 208px;
  left: 24px;
  top: 0px;


  /* Inside Auto Layout */

  order: 1;
  margin: 0px 0px;
}


.item-content h2 {
  position: static;
  width: 388px;
  height: 40px;
  top: 0px;

  /* F3 / ExtraBold - 1200+ */

  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 40px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;

  /* Text / Black */

  color: #121212;

  /* Inside Auto Layout */

  order: 1;
  align-self: stretch;
  margin: 4.9px 0px;
}

.item-content p {
  /* Description */
  position: static;
  width: 388px;
  left: 24px;
  top: 32px;
  height: 96px;

  /* Paragraph Small / Regular */

  font-family: Josefin Sans Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;

  /* Text / Gray */

  color: #414141;

  /* Inside Auto Layout */

  order: 1;
  align-self: stretch;
  margin: 3px 0px 0px;
}

.actions {
  /* Actions */


  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 358px;
  height: 44px;
  left: 24px;
  top: 144px;


  /* Inside Auto Layout */

  order: 3;
  align-self: stretch;
  margin: 7.5px 0px;
}

.buttons {
  /* Buttons */


  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 144px;
  height: 36px;
  left: 0px;


  /* Inside Auto Layout */


  margin: 8px 0px;
}

.main-small {
  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 12px;

  position: static;

  /* Action Primary / Default */

  background: #EC6041;
  /* Button / Primary */

  box-shadow: 4px 4px 0px #F1876F,
    8px 8px 0px #F5AE9E;

  /* Inside Auto Layout */

  align-self: center;
  margin: 0px 0px;
}

.main-small h3 {
  /* Small Button */


  position: static;
  width: 120px;
  height: 20px;
  left: 0px;
  top: 0px;

  /* Action / Button / Small */

  font-family: Josefin Sans Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.04em;
  text-transform: uppercase;

  /* Action Primary / Inverted */

  color: #FFFFFF;

  /* Inside Auto Layout */

  order: 1;
  margin: 0px 8px;
}

a {
  text-decoration: none;
}

.container-dark {
  background: #121212;

}

.container-dark h1,
.container-dark h2 {
  color: #FFFFFF;
}

.container-dark p {
  color: rgba(255, 255, 255, 0.8);
}

.container-dark .item-main {
  background: #121212;
}
}